################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunny.Subdy.UI/Sunny.Subdy.UI/Form1.cs
/Sunny.Subdy.UI/SunnyUI/.vs
/Sunny.Subdy.UI/Sunny.Subdy.UI/bin/Debug/net8.0-windows
/Sunny.Subdy.UI/Sunny.Subdy.UI/obj
/Sunny.Subdy.UI/.vs
/Sunny.Subdy.UI/AutoAndroid/bin/Release/net7.0
/Sunny.Subdy.UI/AutoAndroid/obj
/Sunny.Subdy.UI/Sunny.Subdy.Common/obj
/Sunny.Subdy.UI/Sunny.Subdy.Data/obj
/Sunny.Subdy.UI/AutoAndroid/bin/Debug/net7.0
/Sunny.Subdy.UI/Bin/net8.0-windows
/Sunny.Subdy.UI/Sunny.Subdy.UI/bin/Release/net8.0-windows
/Sunny.Subdy.UI/Sunny.Subdy.Common/bin/Debug/net8.0
/Sunny.Subdy.UI/Sunny.Subdy.Common/bin/Release/net8.0
/Sunny.Subdy.UI/Sunny.Subdy.Data/bin/Debug/net8.0
/Sunny.Subdy.UI/Sunny.Subdy.Server/bin
/Sunny.Subdy.UI/Sunny.Subdy.Server/obj
/Sunny.Subdy.UI/SunnyUI/obj/Debug/net8.0-windows
/Sunny.Subdy.UI/SunnyUI/obj/Release/net8.0-windows
/Sunny.Subdy.UI/AutoAndroid/bin
/Sunny.Subdy.UI/AutoAndroid/bin
/Sunny.Subdy.UI/AutoAndroid/bin
/Sunny.Subdy.UI/Sunny.Subdy.Common/bin
/Sunny.Subdy.UI/Sunny.Subdy.Common/bin
/Sunny.Subdy.UI/Sunny.Subdy.Data/bin/Debug/net8.0-windows
/Sunny.Subdy.UI/AutoAndroid/bin
/Sunny.Subdy.UI/SunnyUI/obj
/Sunny.Subdy.UI/Sunny.Subdy.AutoUpdate/bin
/Sunny.Subdy.UI/Sunny.Subdy.AutoUpdate/obj
/Sunny.Subdy.UI/Sunny.Subdy.Data/bin/Release/net8.0-windows
/Sunny.Subdy.UI/Sunny.Subd.Core/obj
/Sunny.Subdy.UI/Sunny.Subd.Core/bin/Debug/net8.0-windows
