################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunny.Subdy.UI/Sunny.Subdy.UI/Form1.cs
/Sunny.Subdy.UI/SunnyUI/.vs
/Sunny.Subdy.UI/Sunny.Subdy.UI/bin/Debug/net8.0-windows
/Sunny.Subdy.UI/Sunny.Subdy.UI/obj
/Sunny.Subdy.UI/.vs
/Sunny.Subdy.UI/AutoAndroid/bin/Release/net7.0
/Sunny.Subdy.UI/AutoAndroid/obj
/Sunny.Subdy.UI/Sunny.Subdy.Common/obj
/Sunny.Subdy.UI/Sunny.Subdy.Data/obj
/Sunny.Subdy.UI/AutoAndroid/bin/Debug/net7.0
/Sunny.Subdy.UI/Bin/net8.0-windows
/Sunny.Subdy.UI/Sunny.Subdy.UI/bin/Release/net8.0-windows
